@media only screen and (min-width: 1200px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
html, body {
  width: 100%;
  overflow: auto;
}

* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

@keyframes mover {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 1em;
  }
}
* {
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 16px;
  line-height: 2em;
}

.container {
  margin: 0 auto 0 auto;
  padding: auto;
}

@media only screen and (min-width: 200px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media only screen and (min-width: 200px) {
  .col-xxs-12 {
    grid-column: span 12;
  }

  .col-xxs-11 {
    grid-column: span 11;
  }

  .col-xxs-10 {
    grid-column: span 10;
  }

  .col-xxs-9 {
    grid-column: span 9;
  }

  .col-xxs-8 {
    grid-column: span 8;
  }

  .col-xxs-7 {
    grid-column: span 7;
  }

  .col-xxs-6 {
    grid-column: span 6;
  }

  .col-xxs-5 {
    grid-column: span 5;
  }

  .col-xxs-4 {
    grid-column: span 4;
  }

  .col-xxs-3 {
    grid-column: span 3;
  }

  .col-xxs-2 {
    grid-column: span 2;
  }

  .col-xxs-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 576px) {
  .col-xs-12 {
    grid-column: span 12;
  }

  .col-xs-11 {
    grid-column: span 11;
  }

  .col-xs-10 {
    grid-column: span 10;
  }

  .col-xs-9 {
    grid-column: span 9;
  }

  .col-xs-8 {
    grid-column: span 8;
  }

  .col-xs-7 {
    grid-column: span 7;
  }

  .col-xs-6 {
    grid-column: span 6;
  }

  .col-xs-5 {
    grid-column: span 5;
  }

  .col-xs-4 {
    grid-column: span 4;
  }

  .col-xs-3 {
    grid-column: span 3;
  }

  .col-xs-2 {
    grid-column: span 2;
  }

  .col-xs-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.header {
  display: flex;
  position: relative;
  background-image: url(../images/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: cover;
  justify-content: center;
  height: 900px;
  width: 100%;
}

.header__text {
  position: absolute;
  display: inline-block;
  margin: 4em auto 4em auto;
  width: 60%;
}

@media only screen and (min-width: 992px) {
  .header {
    display: inline-block;
  }

  .header__text {
    margin-top: 6em;
    margin-left: 6em;
    width: 400px;
    height: 100px;
  }
}
.navbar {
  position: relative;
  display: flex;
  padding: 0.7em 3em;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
}

.collapsible {
  justify-content: end;
}
.collapsible label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
}

li {
  list-style-type: none;
}

#menu {
  display: none;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0.7em 6em;
  }

  .navbar__elements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__li {
    display: inline;
    margin: 0.4em;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  .navbar__ul {
    padding-left: 0.4em;
  }
}
.footer {
  margin: 0;
  background-color: #221d23;
  color: #aeacaf;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-align: center;
}

.footer__elements {
  display: inline-block;
  padding: 2em auto;
}

@media only screen and (min-width: 992px) {
  .footer {
    padding: 2em 6em;
    text-align: justify;
  }

  .footer__elements {
    margin: 0.4em;
  }

  .footer__elements--left {
    display: inline-block;
  }

  .footer__elements--right {
    display: inline-block;
    grid-column-start: 11;
    grid-column-end: 13;
  }
}
.precios {
  background-image: url(../images/bg-price.svg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 100%;
  width: 100%;
}

#caracteristicas__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

#precios__title {
  padding-top: 5em;
  color: #fff;
  text-align: center;
}

.svg__graph {
  display: inline-block;
}

.svg__animation {
  animation-name: mover;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

.caracteristicas__text {
  display: inline-block;
}

.button {
  background-color: #2ab7ca;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.navbar__button {
  padding: 0.3em 0.7em;
}

.precios__button {
  width: 220px;
  height: 30px;
}

.button:hover {
  background-color: #b1e4eb;
  transition: all 0.3s cubic-bezier(0, 0, 1, 1);
}

.button:focus {
  background-color: #aeacaf;
  outline: 0;
  transition: all 0.3s cubic-bezier(0, 0, 1, 1);
}

.container__card {
  height: 300px;
  width: 230px;
  padding: 30px;
  margin: 2em;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=main.css.map */
