* {
  margin: 0;
}

img {
  max-width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, fr);
}

@media only screen and (min-width: 576px) {
  .col-xs-12 {
    grid-column: span 12;
  }

  .col-xs-11 {
    grid-column: span 11;
  }

  .col-xs-10 {
    grid-column: span 10;
  }

  .col-xs-9 {
    grid-column: span 9;
  }

  .col-xs-8 {
    grid-column: span 8;
  }

  .col-xs-7 {
    grid-column: span 7;
  }

  .col-xs-6 {
    grid-column: span 6;
  }

  .col-xs-5 {
    grid-column: span 5;
  }

  .col-xs-4 {
    grid-column: span 4;
  }

  .col-xs-3 {
    grid-column: span 3;
  }

  .col-xs-2 {
    grid-column: span 2;
  }

  .col-xs-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.header {
  background-image: url(../images/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 900px;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 2em;
}

.navbar__elements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__li {
  display: inline;
  margin: 0.4em;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.navbar__ul {
  padding-left: 0.4em;
}

.footer {
  margin: 0;
  padding: 2em 2em;
  background-color: #221d23;
  display: flex;
  justify-content: space-between;
}

.footer__elements {
  color: #aeacaf;
  margin: 0.4em;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.footer__elements--left {
  display: flex;
}

.precios {
  background-image: url(../images/bg-price.svg);
  background-repeat: no-repeat;
  background-position: cover;
  height: 100%;
  width: 100%;
}

.button {
  background-color: #2ab7ca;
  border: none;
  color: #fff;
}

.navbar__button {
  padding: 0.3em 0.7em;
}

.precios__button {
  width: 220px;
  height: 30px;
}

.container__card {
  height: 300px;
  width: 250px;
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map */
