.footer {
    margin: 0;
    background-color: $raising-black;
    color: $silver-chalice;
    font-family: $raleway;
    font-size: $x-small;
    text-align: center;
}

.footer__elements {
    display: inline-block;
    padding: 2em auto;
}

@media only screen and (min-width: 992px) {
    .footer {
        padding: 2em 6em;
        text-align: justify;
    }

    .footer__elements {
        margin: 0.4em;
    }

    .footer__elements--left {
        display: inline-block;
    }

    .footer__elements--right {
        display: inline-block;
        grid-column-start: 11;
        grid-column-end: 13;
    }
}