.footer {
    margin: 0;
    padding: 2em 2em;
    background-color: $raising-black;
    display: flex;
    justify-content: space-between;
}

.footer__elements {
    color: $silver-chalice;
    margin: 0.4em;
    font-family: $raleway;
    font-size: $x-small;
}

.footer__elements--left {
    display: flex;
}
