.header {
    background-image: url(../images/bg-hero.svg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 900px;
    width: 100%;
}

.header__text {
    display: inline-block;
    width: 400px;
    height: 100px;
}