.precios {
    background-image: url(../images/bg-price.svg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
    width: 100%;
}

#caracteristicas__title {
    text-align: center;
}

#precios__title {
    color: $white;
    text-align: center;
}

.svg__graph {
    display: inline-block;
}

.caracteristicas__text {
    display: inline-block;
    width: 400px;
    height: 100px;
}

.container__card:hover {
    animation-name: sombreado;
}

// .container__card:hover {
//     transition: all 0.3s cubic-bezier(0, 0, 1, 1);
// }