.precios {
    background-image: url(../images/bg-price.svg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
    width: 100%;
}

#caracteristicas__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

#precios__title {
    padding-top: 5em;
    color: $white;
    text-align: center;
}

.svg__graph {
    display: inline-block;
}

.svg__animation {
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

.caracteristicas__text {
    display: inline-block;
    // @include relative-converter(width, rem, 400px, 16);
    // height: 100px;
}

// .container__card {
//     margin
// }