.precios {
    background-image: url(../images/bg-price.svg);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
    width: 100%;
}

.container__card:hover {
    animation-name: sombreado;
}

// .container__card:hover {
//     transition: all 0.3s cubic-bezier(0, 0, 1, 1);
// }