@media only screen and (min-width: 1200px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
}

html, body {
    width: 100%;
    overflow: auto;
}

* {
    font-family: $raleway;
    font-size: $medium;
}

@keyframes mover {
    0% { margin-left: 0; }
    100% { margin-left: 1em; }
}